body{
    background-color: lightcyan;
}

#new-post{
    width: 75%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #9e50cc;
    margin:auto;

    border-radius: 5px;
    box-shadow: 5px 5px 8px -4px black;

}

.container{
    padding-top: 25px;
    padding-bottom: 25px;

    margin-top:15px;
    margin-bottom:15px;
}

.posts{
    width: 75%;
    
    background-color: #9e50cc;
    text-align: center;

    border-radius: 5px;
    
    word-wrap: break-word;

    padding:5px;
    margin: 15px auto;

    box-shadow: 5px 5px 8px -4px black;
    position: relative;
}

h2{
    font-weight: bold;
}
.delete-button{
    position: absolute;
    right: 0;
    top:0;
    
}
input{
    margin-bottom: 10px;   
    margin-left:10px;
}
textarea{
    padding-left:5px;
    border-radius: 5px;
    margin-bottom: 10px;
    
}